<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frame/head :: head">
    
</head>

<body class=" d-flex align-items-center justify-content-center"
	style="height: 100vh;">

	<div class="container" style="max-width: 450px;">

		<h2 class="text-center mb-4">Register</h2>

		<form th:action="@{/process_register}" method="post">

			<div class="mb-3">
				<label for="username" class="form-label">Username:</label> <input
					type="text" class="form-control" id="username" name="username"
					required>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password:</label> <input
					type="password" class="form-control" id="password" name="password"
					 required>
			</div>

			<button type="submit" class="btn btn-primary w-100">Sign Up</button>
			<small class="text-body-secondary">Have an account? <a
				th:href="@{/signin}">Click to sign in</a></small>

			<div th:if="${error}"
				class="alert alert-warning alert-dismissible fade show" role="alert">
				<p th:text="${error}"></p>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>
			<div th:if="${error1}"
				class="alert alert-warning alert-dismissible fade show" role="alert">
				<p th:text="${error1}"></p>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>

		</form>
		<div id="message">
			<h3>Password must contain the following:</h3>
			<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
			<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
			<p id="number" class="invalid">A <b>number</b></p>
			<p id="length" class="invalid">Minimum <b>8 characters</b></p>
		  </div>

		

	</div>
</body>
</html>
