<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="modal modal-sheet hide fade bg-body-secondary p-4 py-md-5"
		tabindex="-1" role="dialog" id="signinmodal">
		<div class="modal-dialog" role="document">
			<div class="modal-content rounded-4 shadow">
				<div class="modal-header p-5 pb-4 border-bottom-0">
					<h1 class="fw-bold mb-0 fs-2">Sign in</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>

				<div class="modal-body p-5 pt-0">
					<form>
						<div class="form-floating mb-3">
							<input type="text" class="form-control rounded-3"
								id="usernameInput" placeholder="username"> <label
								for="usernameInput">User name</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" class="form-control rounded-3"
								id="passwordInput" placeholder="Password"> <label
								for="passwordInput">Password</label>
						</div>
						<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
							type="submit">Sign in</button>
						<small class="text-body-secondary">Don't have account?, <a
							class="button" data-bs-target="#signupmodal"
							data-bs-toggle="modal">click to sign up</a></small>

						<hr class="my-4">
					</form>
				</div>
			</div>
		</div>
	</div>
	<form th:action="@{/signup}" method="post">
		<div class="alert alert-warning alert-dismissible fade show"
			role="alert" th:text="${error}" th:if="${error}">
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>


		<div class="modal modal-sheet hide fade bg-body-secondary p-4 py-md-5"
			tabindex="-1" role="dialog" id="signupmodal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content rounded-4 shadow">
					<div class="modal-header p-5 pb-4 border-bottom-0">
						<h1 class="fw-bold mb-0 fs-2">Sign up</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>

					<div class="modal-body p-5 pt-0">
						<div class="form-floating mb-3">
							<input type="text" class="form-control rounded-3"
								id="usernameInput" name="username" placeholder="username">
							<label for="usernameInput">User name</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" class="form-control rounded-3"
								id="passwordInput" name="password" placeholder="Password">
							<label for="passwordInput">Password</label>
						</div>
						<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
							type="submit">Sign in</button>
						<small class="text-body-secondary">Have an account? <a
							class="button underline" data-bs-target="#signinmodal"
							data-bs-toggle="modal">Click to sign in</a></small>
						<hr class="my-4">


					</div>
				</div>
			</div>
		</div>
	</form>

</body>
</html>