.navbar {
	background-color: #1d1d1d !important;
}

.navbar a {
	color: #e7e7e7 ;
	font-weight: bold;
}

.navbar ul li a:hover {
	color: #da480a !important;
}

.navbar ul li {
	margin-left: 30px;
}

.button-header {
	margin-left: 80px;
	background-color: #da480a !important;
	color: #d3d3d3;
	font-weight: 45px;
}

.button-header:hover {
	background-color: #f45f1e !important;
	color: #f2f2f2;
}

.signin-btn {
	position: absolute;
	top: 10px;
	right: 100px;
}

.container-fluid {
	position: relative;
}

.navbar-toggler {
	background-color: #c0c0c0;
	outline-color: #da480a;
	cursor: pointer;
}

.brand-text {
	font-size: 32px;
	margin-left: 8px;
}

.logo-header {
	display: flex;
	align-items: center;
}

.btn-user {
	background-color:  #1d1d1d;
	position: absolute;
	right: 80px;
	top: 10px;
}
.btn-user ul {
	background-color:  #1d1d1d !important;
	
}
.btn-user li a {
	font-size: 12px;
	font-weight: normal;
}
.btn-user li a:hover {
	background-color: #41453f;
}
.logout-btn {
 	color: #e7e7e7;
}
.logout-btn:hover {
	color: #da480a;
 	background-color: #41453f;
}

