.navbar {
	background-color:#f4f4f4!important;
}
.brand-text{
	font-weight: 800 !important;
	margin-left: 8px;
	font-size: 32px;
}

.navbar a {
	color: #2d2d2d;
	font-weight: 400;
}

.navbar ul li a:hover {
	color: #da480a !important;
}
.navbar ul li a {
	
	background-color: #f4f4f4 !important
}

.navbar ul li {
	margin-left: 30px;
}

.button-header {
	margin-left: 80px;
	background-color: #da480a !important;
	color: #d3d3d3;
	font-weight: 45px;
}

.button-header:hover {
	background-color: #f45f1e !important;
	color: #f2f2f2;
}



.container-fluid {
	position: relative;
}

.navbar-toggler {
	background-color: #c0c0c0;
	outline-color: #da480a;
	cursor: pointer;
}


.logo-header {
	display: flex;
	align-items: center;
}


.btn-user ul {
	background-color:  #ffffff!important;
	
}
.btn-user li a {
	font-size: 12px;
	font-weight: normal;
}
.btn-user li a:hover {
	background-color:white;
}
.logout-btn {
 	color: #2d2d2d;
}
.logout-btn:hover {
	color: #da480a;
 	background-color:white;
}

